<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free resto catalogue for you">
  <meta name="theme-color" content="#393E46" />

  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <title>Restalk Catalogue</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>

  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>

    <div class="app-bar__brand">
      <h1>Restalk Catalogue</h1>
    </div>

    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/resto-list">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="https://github.com/winangsit12">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero-img">
    <picture>
      <source media="(max-width: 600px)" srcset="./hero-image_3-small.jpg">
      <img src='./hero-image_3-large.jpg' alt="hero">
    </picture>
  </div>

  <div class="hero">
    <div class="hero__inner">
      <h1 tabindex="0" class="hero__title">Is your favorite restaurant here?</h1>
      <p tabindex="0" class="hero__tagline">
        Every corner of the restaurant where you eat will hold beautiful memories.
      </p>
    </div>
  </div>

  <main tabindex="0" id="mainContent"></main>
  <footer>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev" target="_blank" rel="noreferrer">Dicoding Restaurant API</a></p>
  </footer>
</body>

</html>